.visually-hidden {
    display: none;
}

body > header {
    padding: 0.5rem;
}

header > h1 a,
header > h1 a:visited {
    font-size: 3rem;
    color: var(--text);
    display: inline-block;
    text-decoration: none;
}

